body{
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}  
.bgimg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.icon{
    width:30px;
    margin-left: 40%;
}
.menu{
    top: 0;
    padding: 10px 20px;
    position: fixed;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

a.item{
    float: center;
    text-decoration: none;
    color: white;
    margin: 30px;
    font-size: larger;
}

a.item:hover{
    color: red;
}

.button{
    color: rgb(255, 0, 0);
    float: right;
    padding-right: 50px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}
.heading{
    text-align: center;
    padding: 15%;
    background-color: rgb(27, 23, 23);
    color: white;
    font-size: 60px;
    

}
.section-container{
    display: flex;
    flex-wrap: wrap;

}
.section-container .columns{
    flex: 0 0 auto;
    width:50%;
}
.section-container .columns .image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-container .columns .content{
    
}
.section-container .columns h4{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
}
.section-container .columns p{
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    padding: 5% 15%;
}
.limg{
    width: 80%;
    padding: 0 10%;
    height: 600px;
    background-color: rgb(244, 241, 241);
}
h5{
    padding-left: 15%;
    font-size: x-large;
    font-weight: bold;
    color: orangered;
}
footer{
    font-size:large;
    color: white;
    background-color: black;
    padding: 20px 50px;
    text-align: center;
}
.media{
    padding: 2%;
}